.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/public/tasks.jpg);
background-position: unset;
background-repeat: repeat;
}

.form {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
  background-color:white;;
  border: solid greenyellow
}
textarea::placeholder{
  color: white;
}
.form input ::placeholder{
  color: white;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: blue 10px;
  background-color: greenyellow;
  border-color: aqua ;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background: #f4f4f4;
  border-radius: 4px;
  background-color: red;
  color: white;
}

.todo-list-container {
  max-height: 400px; 
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: blue;
  margin-top: 10%;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}
.email-list {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.email-list div {
  margin-bottom: 5px;
}
